body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../Images/Landing.jpg);
  background-size: cover;
  background-position: center;
}
h1,
.home-heading {
  font-family: "Pacifico", cursive;
  color: white;
}
h2 {
  font-family: "Roboto Slab", serif;
  letter-spacing: 5px;
}
.row {
  background-color: rgba(0, 0, 0, 0.45);
}
.box {
  width: fit-content;
}
.box::before,
.row::before {
  content: "";
  width: 3px;
  height: 50%;
  position: absolute;
  background-color: #ec5d2c;
  bottom: 0;
}
.box,
.row {
  position: relative;
  border-top: 3px solid #ec5d2c;
  border-bottom: 3px solid #ec5d2c;
}
.box::after {
  content: "";
  width: 3px;
  height: 50%;
  position: absolute;
  background-color: #ec5d2c;
  left: 0;
  top: 0;
}
.row::after {
  content: "";
  width: 3px;
  height: 50%;
  position: absolute;
  background-color: #ec5d2c;
  right: 0;
  top: 0;
}
.box::before {
  right: 0;
}
.row::before {
  left: 0;
}
.form-control:focus {
  border-color: #ec5d2c;
  box-shadow: 0 0 0 0.2rem #ec5d2c;
}
button {
  background-color: #ec5d2c;
  color: white;
  border: none;
  padding: 5px 0;
  border-radius: 8px;
  font-size: 18px;
  transition: all 0.4s ease;
  border: 2px solid white;
  padding: 10px 15px;
}
button:hover {
  background-color: #e94d1a;
}
a {
  color: #ec5d2c;
}
